{% extends "base.twig" %}

{% block header %}

<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Bienvenue sur mon serveur personnel</h1>
		</div>
	</div>
</div>

{% endblock %}

{% block subtitle %}


<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<p> passionné d'informatique........</p>
		</div>
	</div>
</div>

{% endblock %}


{# {% block perso %}

    <h3 class="text-center">Projet Personnel</h3>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="public\img\tn_logo7.jpg" alt="Logo Dragon Dark">
                <div class="card-body">
                    <h5 class="card-title">Projet Starwars</h5>
                    <p class="card-text">Un Index écrit pour le site web "dragons dark",une guilde du jeu Starwars the
                        Old republic, construit en Js.</p>
                    <a href="https://aurelienperso.ovh/starwars/" target="_blank" class="btn btn-primary">Projet à
                        visiter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block examen %}

    <h3 class="text-center">Projet Validation examen</h3>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="public\img\Projet1" alt="Img projet 1">
                <div class="card-body">
                    <h5 class="card-title">Projet 1  Bootstrap</h5>
                    <p class="card-text">Un Index écrit pour le site web "dragons dark",une guilde du jeu Starwars the
                        Old republic, construit en Js.</p>
                    <a href="https://aurelienperso.ovh/chaletsetcaviar/" target="_blank" class="btn btn-primary">Projet à
                        visiter</a>
                </div>
            </div>
        </div>
    </div> #}

