{% extends "base.twig" %}

{% import "macroForm\\form.twig" as forms %}

{% block header %}
    <div class="col-12 text-center">
        <h1>Connection</h1>
    </div>

{% endblock %}


{% block section %}
<form name="{{ current_page }}Formulaire" action="index.php" method="post" class="was-validated">
	<p>
		{{ forms.input('mail','votre identifiant adresse mail','','texte') }}
	</p>
	<p>
		{{ forms.input('password','votre mot de passe','','password') }}
	</p>
	{% if connectionErr|length > 0 %}
		<div class="col">
			<p>
				<span class="alert alert-danger">{{ connectionErr }}</span>
			</p>
		</div>
	{% endif %}
	<p>
		<button type="submit" class="btn btn-primary">Soumettre</button>
		<div class="">
			<a href="index.php?p=update">Mot de passe Oublié</a>
		</div>
	</p>
	<input type="hidden" name="p" id="page" value="userCon">
</form>

{% endblock %}